<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.dao.${className}Dao">
	<!-- 返回值映射map -->
	<resultMap id="${classNameLower}Mapper" type="${package}.model.${className}Model">
		<#list table.columns as column>
			<result property="${column.name}" column="${column.dbName}" />
		</#list>
	</resultMap>
	
	<!-- 查询数量公共sql -->
	<sql id="count_Tail">
		select count(1) from ${table.dbName} record
	</sql>
	
	<!-- 分页公共sql -->
	<sql id="pagination_tail">
	  limit ${ r"#{page.pageOffset} , #{page.pageSize}"}
	</sql>

	<!-- 查询字段公共sql -->
	<sql id="selectAllColumns">
	    SELECT 
	    <if test="queryFields != null ">
	 	     <trim prefix="" suffix="" suffixOverrides=",">
		        <foreach collection="queryFields" item="fi" index="index">
		          ${ r"${fi},"}
		        </foreach>
		      </trim> 	
	  	</if>
	    <if test="queryFields == null ">
	  		<![CDATA[
			<#list table.columns as column>
				 ${column.dbName}<#if column_has_next>,</#if> 
			</#list>
			]]>
	  	</if>
	     FROM ${table.dbName} record
	</sql>
	
	<sql id="where_fragement">
		<where> 
			<if test="entity!=null">
				<#list table.columns as column>
					<if test = ${"\""}${ r"entity." + column.name + r" != null and entity." +column.name + r" != ''" }${"\""}>
						<![CDATA[ and record.${column.dbName}  = ${ r"#{entity." + column.name }} ]]>
					</if>
				</#list>
			</if>
		</where>
	</sql>
	
	<sql id="time_sort">
		order by createtime desc 
	</sql>

	<!-- 分页查询数据集合-->
	<select id="queryPage${className}" resultMap="${classNameLower}Mapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<include refid="time_sort" />
		<if test="page!=null">
			<include refid="pagination_tail" />
		</if>
		
	</select>
	
	<!-- 不分页查询数据集合-->
	<select id="queryList${className}" resultMap="${classNameLower}Mapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<include refid="time_sort" />
	</select>
	
	<!-- 查询总数量 -->
	<select id="queryCount${className}" resultType="long">
		<include refid="count_Tail"></include>
		<include refid="where_fragement"></include>
	</select>

	<!-- 查询单个实体 -->
	<select id="query${className}ById" resultMap="${classNameLower}Mapper" >
		<include refid="selectAllColumns"/>
		 where 
		 record.${primaryKey} = ${r"#{id}"}
	</select>
	
	<!-- 新增列处理 -->
	<sql id="sql_add_columns">
		<trim suffixOverrides=",">
		<#list table.columns as column>
			<if test="${column.name} != null">${column.dbName},</if>
		</#list>
		</trim>
	</sql>

	<sql id="sql_add_properties">
		<trim suffixOverrides=",">
		<#list table.columns as column>
				<if test="${column.name} != null">${ r"#{" + column.name + r"}" },</if>
		</#list>
		</trim>		
	</sql>
	
	<!-- 新增 -->
	<insert id="add${className}" parameterType="${package}.model.${className}Model">
		insert into ${table.dbName}(
			<include refid="sql_add_columns"/>
		)values(
			<include refid="sql_add_properties"/>
		)
	</insert>

	<!-- 编辑 -->
	<update id="update${className}" parameterType="${package}.model.${className}Model">
		update ${table.dbName} record 
			<set>
			<#list table.columns as column>
				<#if column.name != '${modelId}' >
					<if test = ${"\""}${ column.name + r" != null "}${"\""}>
						record.${column.dbName} = ${ r"#{" + column.name + r"}" }<#if column_has_next>,</#if>
					</if>
				</#if>
			</#list>
			</set>
		where ${primaryKey} = ${r'#{'+"${modelId}"+r'}'}
	</update>
	
	<!-- 删除 -->
	<delete id="remove${className}ByIds" parameterType="java.util.List">
		delete from ${table.dbName} 
			where ${primaryKey} in
			<foreach collection="list" open="(" separator="," close=")" item="code">
				${r"#{code}"}
			</foreach>
	</delete>

	<delete id="remove${className}ById">
		delete from ${table.dbName} 
		<if test=" id != null and id != ''">
			where ${primaryKey} = ${r"#{id}"}
		</if>
	</delete>
	
</mapper>
